.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-text {
  text-align: center;
}

.container > #themeToggle {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--text);
  cursor: pointer;
  margin-right: 1rem;
  transition: var(--transition);
}

.container > #themeToggle:hover {
  color: var(--accent);
}
